@model FrontEnd.Models.CategoriumViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />


<div class="container mt-5">
    <h1 class="mb-4">Eliminar categoría</h1>
    <h5>¿Seguro de eliminar este producto?</h5>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoCategoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.HiddenFor(model => model.CodigoCategoria)

        <button type="submit" class="bt-3 btn btn-success border-0 mt-4" style="background-color:#ec1313;">Eliminar</button>
        <a class="btn btn-success border-0 mt-4" asp-action="Index">Cancelar</a>
    </form>
</div>

<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/tiny-slider.js"></script>
<script src="~/js/custom.js"></script>
