@model FrontEnd.Models.ProductoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>
</head>

<body>

    <!-- Start Hero Section -->

    <div class="container pt-4">
        <div class="row">
            <h1 style="color:black; font-weight:600;">Detalle del producto</h1>

        </div>
    </div>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CodigoProducto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CodigoCategoria)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CodigoCategoria)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Unidades)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Unidades)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CodigoProducto }) |
        <a asp-action="Index">Back to List</a>
    </div>


    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
