@model IEnumerable<FrontEnd.Models.ProductoViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co</title>
</head>

<body>

    @{
        ViewBag.Title = "Lista de Productos";
        var categoriasSeleccionadas = ViewBag.CurrentCategories as List<int> ?? new List<int>();
        var sortOrder = ViewBag.CurrentSortOrder as string ?? "";
        var categoriasDisponibles = ViewBag.CategoriasDisponibles as IEnumerable<FrontEnd.Models.CategoriumViewModel>;
    }


    <div class="container pt-4">
        <div class="row mt-4">
            <h1 style="color:black; font-weight:600;">Productos</h1>

        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-start gap-2 pt-4">
            <a href="@Url.Action("Create", "Producto")" class="btn btn-success border-0 mt-4" style="background-color:#1bc576;"><i class="fa-solid fa-plus" style="color: #ffffff;"></i> Agregar Producto</a>
        </div>
    }
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                @using (Html.BeginForm("Index", "Producto", FormMethod.Get))
                {
                    <div class="d-flex justify-content-end">
                        <!-- Dropdown de categorías -->
                        <div class="">
                            <select id="categoria" name="categoria" class="form-select" onchange="this.form.submit()">
                                <option value="">Todas las Categorías</option>
                                @foreach (var categoria in categoriasDisponibles)
                                {
                                    var isSelected = categoria.CodigoCategoria == (int?)ViewBag.CurrentCategoria ? "selected" : "";
                                    <option value="@categoria.CodigoCategoria">@categoria.Nombre</option>
                                }
                            </select>
                        </div>

                        <!-- Dropdown de ordenar por precio -->
                        <div class="ms-3">
                            <div class="nav-item dropdown">
                                <select id="sortPrice" name="sortOrder" class="form-select" onchange="this.form.submit()">
                                    <option value="nothing">Ordenar por</option>
                                    <option value="price_asc">Precio menor</option>
                                    <option value="price_desc">Precio mayor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Productos -->
        <div class="untree_co-section product-section before-footer-section">
            <div class="container">
                <div class="row" id="searchResults">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="mt-4">
                                <a class="product-item" href="@Url.Action("Details", "Producto", new { id = item.CodigoProducto })">
                                    <img src="@(string.IsNullOrEmpty(item.ImagenPrincipal) ? "~/images/imgNotFound.png" : item.ImagenPrincipal)"
                                         alt="@item.Nombre"
                                         class="img-fluid" />

                                    <h3 class="product-title mt-2">@item.Nombre</h3>
                                    <strong class="product-price">$@item.Precio</strong>
                                </a>
                                <!-- Formulario para agregar al carrito -->
                                <div class="mt-4">
                                    <form asp-controller="ItemCarrito" asp-action="Create" method="post">
                                        <input type="hidden" name="ProductoId" value="@item.CodigoProducto" />
                                        <input type="hidden" name="Cantidad" value="1" />
                                        <input type="hidden" name="Precio" value="@String.Format("{0:0.00}", item.Precio)" />

                                        @*   <button type="submit" class="btn btn-success border-0 mt-4" style="background-color:#f9bf29;">
                                            <i class="fa-solid fa-cart-shopping fa-xs me-1" style="color: #ffffff;"></i>
                                            Agregar al carrito
                                    </button>*@
                                    </form>
                                </div>

                                <div class="row justify-content-center">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="col-auto text-center mt-2 mb-4">
                                            <a href="@Url.Action("Edit", "Producto", new { id = item.CodigoProducto })" class="btn btn-success border-0 mt-4" style="background-color:#74c0fc; color: #fff;">
                                                <i class="fa-solid fa-pen-to-square fa-xs"></i> Editar
                                            </a>
                                            <a href="@Url.Action("Delete", "Producto", new { id = item.CodigoProducto })" class="btn btn-success border-0 mt-4" style="background-color:#ec1313; color: #fff;">
                                                <i class="fa-solid fa-trash fa-xs"></i> Eliminar
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
